/* This file is for styling various elements on the website */
body {
        /* Colour and font for body */
    background-color: #e7dee1;

    font-family: Arial, sans-serif;
}
    /* Colour and font for navbar */
.navbar {
    background-color: #d08aa0 !important;

    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}

.navbar .nav-link {
    color: white !important;
}
/* Styling and positioning image description */
.container {
    padding: 30px;
    font-family: "Futura", sans-serif;
    font-size: 30px;
    text-align: center;

    /* resize and reposition image */
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    max-width: 50%;
    height: auto;
    }
}
